@model CsvImport.Model.People

@{
    ViewBag.Title = Model.FullName;
}

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Edit", "Home", new {page = ViewBag.Page}, FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.FullName, "ФИО")
                @Html.TextBoxFor(m => m.FullName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BirthDate, "Дата рождения")
                @Html.TextBoxFor(m => m.BirthDate, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, "E-mail")
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, "Телефон")
                @Html.TextBoxFor(m => m.Phone, new {@class = "form-control"})
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12">&nbsp;</div>
    <div class="col-sm-12">
        @Html.ActionLink("Назад", "Index", new {page = ViewBag.Page}, new {@class = "btn btn-default"})
    </div>
</div>